
<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="toolbaritem-spacer"></span>
  <!-- Profile Menu START-->
  <div *ngIf="premiumService.getCurrentPlanValue == 'free'">
    <button mat-raised-button color="accent" routerLink="gopremium">
      <mat-icon>hotel_class</mat-icon>
      ¡HAZTE PREMIUM!
      <mat-icon>hotel_class</mat-icon>
    </button>
  </div>
  <button mat-button [matMenuTriggerFor]="profileMenu">
    <mat-icon mat-list-icon class="material-icons">account_box</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="profile">Perfil</button>
    <button mat-menu-item (click)="logout()">Cerrar sesión</button>
  </mat-menu>
  <!-- Profile Menu END-->
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" fixedInViewport="false" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-list-item routerLinkActive="active-list-item" routerLink="home">
        <mat-icon mat-list-icon class="material-icons">home</mat-icon>
        <a mat-line>Inicio</a>
      </mat-list-item>
      <div *ngIf="premiumService.getCurrentPlanValue == 'premium'">
        <mat-list-item routerLinkActive="active-list-item" routerLink="userlisting">
          <mat-icon mat-list-icon class="material-icons">recent_actors</mat-icon>
          <a mat-line>Lista de Usuarios</a>
        </mat-list-item>
      </div>
      <mat-list-item routerLinkActive="active-list-item" routerLink="profile">
        <mat-icon mat-list-icon class="material-icons">account_circle</mat-icon>
        <a mat-line>Mi perfil</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Loading visual -->
    <div *ngIf="loaderService.isBarLoading | async" class="loader-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>