<!--<mat-card>
  <mat-card-title>Editar perfil</mat-card-title>
  <mat-card-content>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Enter your company name</mat-label>
          <input matInput placeholder="PracticeJob SL" formControlName="name" required>
          <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Enter your company address</mat-label>
          <input matInput placeholder="4th of Wellington Street Floor 4 Door B" formControlName="address" required>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select formControlName="province" required>
            <mat-option>Please select a city</mat-option>
            <mat-option *ngFor="let province of provinces" [value]="province">
              {{province.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent" [disabled]="form.invalid">Confirm Profile</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>-->