<h2 mat-dialog-title>Nueva Oferta</h2>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography">
  <form class="form" [formGroup]="data.newOfferForm">
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Desarrollador Backend .NET Core">
      <mat-error *ngIf="data.newOfferForm.get('name')?.hasError('required') && data.newOfferForm.get('name')?.touched">El nombre
        es
        obligatorio
      </mat-error>
      <mat-error *ngIf="data.newOfferForm.get('name')?.hasError('max') && data.newOfferForm.get('name')?.touched">El nombre solo
        puede contener 65 carácteres
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"
        placeholder="Equipo nuevo, desarrollo backend en .NET Core con EF Core 3.1"></textarea>
      <mat-error
        *ngIf="data.newOfferForm.get('description')?.hasError('required') && data.newOfferForm.get('description')?.touched">La
        descripción es
        obligatoria
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Remuneración</mat-label>
      <input matInput formControlName="remuneration" type="number" value="0" min="0" placeholder="1200 (Mínimo 0)">
      <mat-error
        *ngIf="data.newOfferForm.get('remuneration')?.hasError('required') && data.newOfferForm.get('remuneration')?.touched">La
        remuneración es
        obligatoria y mínimo debe de ser 0
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Horas</mat-label>
      <input matInput formControlName="schedule" placeholder="8 horas">
    </mat-form-field>
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Duración de la oferta</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate">
        <input matStartDate placeholder="Fecha inicio" formControlName="startDate">
        <input matEndDate placeholder="Fecha fin" formControlName="endDate">
      </mat-date-range-input>
      <mat-error
        *ngIf="data.newOfferForm.get('startDate')?.hasError('required') && data.newOfferForm.get('startDate')?.touched || data.newOfferForm.get('endDate')?.hasError('required') && data.newOfferForm.get('endDate')?.touched">
        Las fechas de inicio y fin son obligatorias
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>Ciclos</mat-label>
      <mat-select formControlName="fps" multiple>
        <mat-option *ngFor="let fp of data.fpList" [value]="fp">{{fp.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="data.newOfferForm.get('fps')?.hasError('required') && data.newOfferForm.get('fps')?.touched">Debes
        seleccionar una FP como mínimo
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-error *ngIf="data.newOfferForm.invalid">Por favor, completa el formulario.
  </mat-error>
  <hr>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.newOfferForm" cdkFocusInitial>Publicar</button>
</mat-dialog-actions>