.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.searchFilter {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 5%;
}

#scroll-container {
    height: 600px;
    display: flex;
    overflow: auto;
}

#flex-scroll {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.card {
    width: 450px;
    min-height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background: #3f51b5;
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__exit {
    justify-self: end;
}

.card__icon {
    border-radius: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 120px;
    height: 120px;
}

.card__name {
    position: absolute;
    font-size: 24px;
    margin-left: 12px;
    margin-top: 20px;
    font-weight: 800;
    color: #ffffff;
}

.card__title>img,
.card__title>student-fullname {
    display: inline-block;
    margin-bottom: 12px;
}

.card__details {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.student-detail-row {
    height: 0;
}