.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.custom-fab-button-container {
    position: relative;
    float: right;
    top: -35px;
    right: -30px;

}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-full-width {
    width: 100%;
}

table {
    width: 100%;
    table-layout: initial;
}

mat-header-cell, mat-cell {
    justify-content: center;
}

tr.student-detail-row {
    height: 0;
}

.expanded-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cdk-virtual-scroll-data-source-example .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .cdk-virtual-scroll-data-source-example .example-item {
    width: 50px;
    height: 100%;
    writing-mode: vertical-lr;
  }