<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="login-form" novalidate (ngSubmit)="onLoginPressed()" [formGroup]="login">
      <mat-card-content>
        <mat-form-field class="login-full-width">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="practicestudent@practicejob.com" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="login.get('email')?.hasError('required') && login.get('email')?.touched">Email required
          </mat-error>
          <mat-error *ngIf="login.get('email')?.hasError('email') && login.get('email')?.touched">Email must be valid
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="login.get('password')?.hasError('required') && login.get('password')?.touched">Password
            required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" [disabled]="login.invalid">Log in</button>
    </form>
  </mat-card>
</div>