@import '@angular/material/theming';
@import '@angular/material/theming';
@import '@angular/material/theming';

@include mat-core();
@include mat-core(); 
@include mat-core(); 

$custom: (
    50: #ede6f4,
    100: #d2c3e4,
    200: #b59bd2,
    300: #9972c0,
    400: #8453b2,
    500: #6f35a5,
    600: #67309f,
    700: #5b2896,
    800: #51228e,
    900: #40157f,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$custom-palette-primary: mat-palette($custom);
$custom-palette-accent:  mat-palette($custom);
$custom-theme: mat-light-theme($custom-palette-primary, $custom-palette-accent);
@include angular-material-theme($custom-theme);