<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>

    <form class="login-form" novalidate (ngSubmit)="onRegisterPressed()" [formGroup]="signupForm">
      <mat-card-content>
        <mat-form-field class="login-full-width">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="practicestudent@practicejob.com" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched">Email required
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched">Email must be valid
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched">Password
            required</mat-error>
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <mat-label>Confirm your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordConfirmation">

          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error
            *ngIf="signupForm.get('passwordConfirmation')?.hasError('required') && signupForm.get('passwordConfirmation')?.touched">
            Password confirmation
            required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" [disabled]="signupForm.invalid">Sign up</button>
    </form>
  </mat-card>
</div>